/* Forms */
.input-group-append,
.input-group-prepend {
  background: color(white);
  color: $input-placeholder-color;
  width: auto;
  border: none;

  .input-group-text {
    background: transparent;
    border-color: $border-color;
  }
}

.form-control {
  border: 1px solid $border-color;
  font-family: $type-1;
  font-size: $input-font-size;
  padding: $btn-padding-y .75rem;
  line-height: 14px;
  font-weight: 300;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

  &.form-control-lg {
    padding: $input-btn-padding-y-lg .75rem;
  }

  &.form-control-sm {
    padding: $input-btn-padding-y-sm .75rem;
  }
}

select {
  &.form-control {
    padding: 0.4375rem 0.75rem;
  }
}

.form-group {
  label {
    font-size: $default-font-size;
    line-height: 1;
    vertical-align: top;
    margin-top: 8px;
  }

  &.has-danger {
    .form-control {
      border-color: theme-color(danger);
    }
  }

  .file-upload-default {
    visibility: hidden;
    position: absolute;
  }

  .file-upload-info {
    background: transparent;
  }
}
